snippet head
	---
	title:  $0
	author: Michael Malick
	date:   `system("date +%Y-%m-%d")`
	---
snippet link
	[${1:description}](${0:url})
snippet image
	![${1:description}](${0:file})
snippet code
	\`\`\`$1
	$0
	\`\`\`
