snippet head
	---
	title:  ${1}
	author: Michael Malick
	date:   `system("date +%Y-%m-%d")`
	---
snippet link
	[${1:description}](${2:url})
snippet image
	![${1:description}](${2:file})
snippet hdate
	# `strftime("%Y-%m-%d %a")`
	${1}
snippet up
	UPDATED: `strftime("[%Y-%m-%d %a]")`
snippet code
	\`\`\`${1}
	${2}
	\`\`\`
